// stat carousel
.info{
    margin-top: 12px;  
    margin-bottom: 60px;
    
    
    h1{
      color: white;
      font-weight: bold;
      margin-bottom: 34px;
    }
    span{
      font-weight: bold;
      font-size: 29px;
      color: burlywood;
      display: block;
      margin-bottom: -14px;
      margin-top: 26px;
    }
    .lead{
    line-height: 1.5rem;
    }
    }
    .carousel-item{
      p{
        line-height: 2rem;
      }
    }
    // end info
    // start slider
    .carousel-indicators{
      margin-bottom: -57px;
    }
    
    // end carousel