// start footer
.footer{
    color: burlywood;
    padding-top: 35px;
    
    border-radius: 15px;
    margin-bottom: 21px;
  
    h4{
      font-weight: bold;
      margin-top: 22px;
      margin-bottom: 13px;
    }
    .footer--divcolor{
      background-color: #73a1a71c;
      padding-top: 17px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    }
  
  // end footer