.nav{
    
margin-top: 6px;
margin-bottom: 6px;
    .nav-pills  {
        border-radius: 6.25rem;
        
    }
    .nav-link {
        
        padding: 1.5rem 3rem;
        border-radius: 6.25rem;
    
    }    

a {
    color: white;
      
}


}


.header{
   
    .img {
        
        height: 542px;
        width: 100%;
    }
}