// start my foto
.row{
 .col-lg-12{
   padding: 0px;
 }
.row__img{
 
  height: 204px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.row__img__img{
    width: 279px;
    margin-left: -3%;
    height: 309px;
    margin-top: -108px;
    animation: img 10s infinite linear;
  } 
  @keyframes img{
    0%{
      transform: scale3d(1.2, 1.2, 1);
    }
    25%{
      transform: scale3d(0, 0, 1);
    
    }
    50%{
      transform: scale3d(1.2, 1.2, 1);
    
    }
    100%{
      transform: scale3d(.5, .5, 1);
    
    }
    
    }
}
// end my foto





